.ct-container-section { 
    width: 280px;
    height: 576px;
    top: 95px;
    left: 20px;     
  }
  
  .ct-container-section h1 {
    width: 180px; 
    height: 30px;
    top: 95px;
    left: 70px;
    margin-top: 25px;
    margin-left: 70px;
    margin-right: 70px;

    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color:#5E5E5E;
  }

  @media (min-width: 1200px) {

    .ct-container-section { 
      width: 746px;
      height: 802px;
      top: 95px;
      left: 2227px;
    }

    .ct-container-section h1 {
      width: 287px; 
      height: 48px;

      margin-left: 461px;
      margin-top: 25px;
      margin-right: 452px;  
  
      font-family: Poppins;
      font-size: 32px;
      font-weight: 700;
      line-height: 48pxpx;
      letter-spacing: 0em;
      text-align: center;
      color:#5E5E5E;
    }
  }