.container-section-comment-item{
    width: 280px;
    height: 146px;
    top: 776px;
    left: 20px;
    border-radius: 12px;
    border: 1px;

    background: #FFFFFF;
    border: 1px solid #3C9AF0;

    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;

    padding: 25px 20px 25px 20px;

}

.container-section-comment-item-text{
    width: 240px;
    height: 96px;
    top: 1485px;
    left: 40px;

    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

    color: #3C9AF0;
}