@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --ct-color-bg-secondary: #3C9AF0;
  --dsc-color-bg-primary:#ffffff;
  --dsc-color-bg-tertiary:#5E5E5E;
  --dsc-color-bg-comments:#c8c8c8;
}

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Poppins";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--dsc-color-bg-primary);
}


